<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal text-body-emphasis">Course Types</h1>
  <p class="fs-5 text-body-secondary">Choose type of course which fits you the best!</p>
</div>
<main>
  <div class="d-flex justify-content-center row row-cols-1 row-cols-md-3 mb-4 text-center mx-5">
    <div class="col" style="width: 24rem">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3"><h4 class="my-0 fw-normal">Online</h4></div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>Online access to all courses</li>
            <li>Online classes</li>
            <li>Online teacher support</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-outline-dark">More information</button>
        </div>
      </div>
    </div>
    <div class="col" style="width: 24rem">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3"><h4 class="my-0 fw-normal">Present</h4></div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>Online access to all courses</li>
            <li>Present classes at school</li>
            <li>Support from teachers at school</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">More information</button>
        </div>
      </div>
    </div>
    <div class="col" style="width: 24rem">
      <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 text-bg-primary border-primary">
          <h4 class="my-0 fw-normal">Combined</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>Online access to all courses</li>
            <li>Switching between Online and Present classes</li>
            <li>Support from teachers online or at school</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">More information</button>
        </div>
      </div>
    </div>
  </div>
</main>
